#container{
    position: relative;
    display: flex;
    align-items: center;
    isolation: isolate;
    &.seleccionado::before{
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: 120%;
        left: opx;
        background-color: #da4443;
        z-index: -1;
        border-radius: 5px;
    }
}

#flecha{
    position: absolute;
    height: 20px;
    padding: 0 10px;
}

#tarjta{
    display: flex;
    align-items: center;
    background-color: #fceab8;
    border-radius: 25px 5px 5px 25px;
    width: 90%;
    font-size: large;
    padding-left: 5px;
    margin-left: 30px;
    gap: 1rem;
}

#circulo{
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.125);
}

img{
    max-height: 40px;
}
